@using Shared.Models.Military

@if (SVClient.CurrentlySelectedGroup is null)
{
    <span style="font-size: 16px;">You must select a group to view as! You can do this by clicking "Switch Group".</span>
}
else if (Loaded) {
    <div class="recipe-designer-div">
        <div class="recipe-designer-body">
            <div class="left-side">
                <div style="height: 72px;">
                    <div class="form-group">
                        <center>
                            <span id="info-span" class="@infoSpanClass" style="color:white">@infoSpan</span>
                            @if (infoSpanClass == "text-success")
                            {

                            }
                        </center>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Template's Name</label>
                        <input asp-for="Name" class="form-control" @bind-value="Template.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="regiment-list">
                    <button class="btn btn-outline-primary" style="width: 100%;" @onclick="ClickedNewRegiment">
                        New Regiment
                    </button>
                    @foreach (var regiment in Template.RegimentsTemplates)
                    {
                        <div class='regiment-list-item @(regiment.Id == CurrentlyEdittingRegimentTemplate.Id ? "selected" : "")' @onclick="async () => { await Select(regiment); }">
                            <h5 style="display: inline-block; padding:5px">@regiment.Name</h5>
                        </div>
                    }
                </div>
                <div style="">
                    <button class="btn btn-outline-primary" @onclick="ClickedCreate">
                        Create
                    </button>
                </div>
            </div>
            <div class="right-side">
                <div class="container" style="padding: 0px;">
                    <div class="edit-regiment-div">
                        <div style="">
                            @{
                                var weaponBaseItemName = "";
                                var ammoBaseItemName = "";
                            }
                            @if (CurrentlyEdittingRegimentTemplate is not null)
                            {
                                @if (CurrentlyEdittingRegimentTemplate.Type is RegimentType.Infantry) {
                                    weaponBaseItemName = "rifle";
                                    ammoBaseItemName = "ammo";
                                    <button class='btn @(DisplaySelectItemComponentForWeapon ? "btn-primary" : "btn-outline-primary")' @onclick="ClickedSelectWeapon">
                                        Select Rifle Item
                                    </button>
                                    <button class='btn @(DisplaySelectItemComponentForAmmo ? "btn-primary" : "btn-outline-primary")' @onclick="ClickedSelectAmmo">
                                        Select Ammo Item
                                    </button>
                                }
                            }
                        </div>
                        @if (DisplaySelectItemComponentForWeapon)
                        {
                            <SelectItemDefinitionComponent CurrentlySelected="@WeaponDefinition" BaseItemNameNeeded="@weaponBaseItemName" WeaponOrAmmo="true">
                            </SelectItemDefinitionComponent>
                        }
                        else if (DisplaySelectItemComponentForAmmo)
                        {
                            <SelectItemDefinitionComponent CurrentlySelected="@AmmoDefinition" BaseItemNameNeeded="@ammoBaseItemName" WeaponOrAmmo="false">
                            </SelectItemDefinitionComponent>
                        }
                        else if (CurrentlyEdittingRegimentTemplate is not null)
                        {
                            <div class="form-group">
                                @if (WeaponDefinition is null)
                                {
                                    <label>You have not selected a Rifle!</label>
                                }
                                else
                                {
                                    <label>Current Selected Rifle: @WeaponDefinition.Name</label>
                                }
                            </div>
                            <div class="form-group">
                                @if (AmmoDefinition is null)
                                {
                                    <label>You have not selected a type of Ammo!</label>
                                }
                                else
                                {
                                    <label>Current Selected Ammo: @AmmoDefinition.Name</label>
                                }
                            </div>
                            <div class="edit-buttons-div">
                                <div class="edit-holder">
                                    <span>Count (+/- 1k)</span>
                                    <div class="edit-button-div">
                                        <button class="edit-button btn" @onclick="async () => { await DecreaseCount(1);}" style="margin-right: 4px;">-</button>
                                        <button class="edit-button btn" @onclick="async () => {await IncreaseCount(1);}" style="margin-left: 4px;">+</button>
                                    </div>
                                </div>
                                <div class="edit-holder" style="margin-left: 10px;">
                                    <span>Count (+/- 10k)</span>
                                    <div class="edit-button-div">
                                        <button class="edit-button btn" @onclick="async () => { await DecreaseCount(10);}" style="margin-right: 4px;">-</button>
                                        <button class="edit-button btn" @onclick="async () => {await IncreaseCount(10);}" style="margin-left: 4px;">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Regiment's Name</label>
                                <input asp-for="Name" class="form-control" @bind-value="CurrentlyEdittingRegimentTemplate.Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <center>
                                <span>Regiment Stats</span>
                            </center>
                            <div class="bottom-container">
                                <div class="row">
                                    <div class="col-sm">
                                        Basic Info
                                    </div>
                                    <div class="col-sm">
                                        Combat Stats
                                    </div>
                                    <div class="col-sm">
                                        Misc. Stats
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">Soldier Count: @($"{CurrentlyEdittingRegimentTemplate.GetSoldierCount():n0}")</div>
                                    <div class="col-sm">Attack: @Math.Round(CurrentlyEdittingRegimentTemplate.GetModifierValue(DivisionModifierType.Attack) * (1 + CurrentlyEdittingRegimentTemplate.GetModifierValue(DivisionModifierType.AttackFactor)),0)</div>
                                    <div class="col-sm"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm"></div>
                                    @{
                                        var totalattack = CurrentlyEdittingRegimentTemplate.GetModifierValue(DivisionModifierType.Attack) * (1 + CurrentlyEdittingRegimentTemplate.GetModifierValue(DivisionModifierType.AttackFactor));
                                    }
                                    <div class="col-sm">Atk Per 1k: @Math.Round(totalattack/CurrentlyEdittingRegimentTemplate.Count,1)</div>
                                    <div class="col-sm"></div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <span>Either Create a new regiment or click on the edit button on a regiment!</span>
                        }
                    </div>
                </div>
                <div class="bottom-container">
                    <div class="row">
                        <div class="col-sm">
                            Basic Info
                        </div>
                        <div class="col-sm">
                            Combat Stats
                        </div>
                        <div class="col-sm">
                            Misc. Stats
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">Soldier Count: @($"{Template.GetSoldierCount():n0}")</div>
                        <div class="col-sm">Attack: @Math.Round(Template.GetModifierValue(DivisionModifierType.Attack) * (1 + Template.GetModifierValue(DivisionModifierType.AttackFactor)),0)</div>
                        <div class="col-sm"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span>Loading...</span>
}

@code {
    public bool Display = false;
    public string Style => Display ? "" : "display:none";
    public DivisionTemplate Template = null;
    public RegimentTemplate CurrentlyEdittingRegimentTemplate = null;
    public List<ItemDefinition> ItemDefinitions = new();
    public List<Recipe> Recipes = new();

    public ItemDefinition? WeaponDefinition = null;
    public ItemDefinition? AmmoDefinition = null;

    public bool DisplaySelectItemComponentForWeapon = false;
    public bool DisplaySelectItemComponentForAmmo = false;

    public bool Loaded = false;
    public string infoSpan = "";
    public string infoSpanClass = "";

    public async Task ClickedCreate()
    {

    }

    public async Task ClickedSelectWeapon()
    {
        DisplaySelectItemComponentForAmmo = false;
        DisplaySelectItemComponentForWeapon = true;
    }

    public async Task ClickedSelectAmmo()
    {
        DisplaySelectItemComponentForAmmo = true;
        DisplaySelectItemComponentForWeapon = false;
    }

    public async Task ClickedNewRegiment()
    {
        CurrentlyEdittingRegimentTemplate = new()
        {
            Id = Template.RegimentsTemplates.Count() + 1,
            Name = $"Infrantry Regiment #{Template.RegimentsTemplates.Count() + 1}",
            Type = RegimentType.Infantry,
            Count = 0,
            WeaponItemDefinitionId = 0,
            AmmoItemDefinitionId = 0,
            Modifiers = new(),
        };

        WeaponDefinition = null;
        AmmoDefinition = null;
        Template.RegimentsTemplates.Add(CurrentlyEdittingRegimentTemplate);
    }

    private async Task IncreaseCount(int amount)
    {
        CurrentlyEdittingRegimentTemplate.Count += amount;
        await Template.UpdateModifiers();
    }

    private async Task DecreaseCount(int amount)
    {
        if (CurrentlyEdittingRegimentTemplate.Count > 0)
            CurrentlyEdittingRegimentTemplate.Count -= amount;
        await Template.UpdateModifiers();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Template = new()
            {
                Id = 0,
                RegimentsTemplates = new()
            };
            ItemDefinitions = (await SVClient.GetJsonAsync<List<ItemDefinition>>($"api/itemdefinitions/all")).Data;
            Recipes = (await SVClient.GetJsonAsync<List<Recipe>>($"api/recipes/all")).Data;
            ItemDefinitions = ItemDefinitions.Where(x => Recipes.Any(r => r.CustomOutputItemDefinitionId == x.Id)).ToList();

            foreach (var itemdef in ItemDefinitions)
                await itemdef.AddToCache();

            foreach (var recipe in Recipes)
            {
                if (recipe.CustomOutputItemDefinitionId is not null)
                    SVCache.ItemDefIdToRecipe[recipe.CustomOutputItemDefinitionId] = recipe;
                await recipe.AddToCache();
            }

            foreach (var baserecipe in (await SVClient.GetJsonAsync<List<BaseRecipe>>($"api/baserecipes/all")).Data)
                await baserecipe.AddToCache();

            Loaded = true;
            ClientData.DivisionDesignerModal = this;
            StateHasChanged();
        }
    }

    public async Task Refresh()
    {
        await Template.UpdateModifiers();
        StateHasChanged();
    }

    public async Task Select(RegimentTemplate template)
    {
        CurrentlyEdittingRegimentTemplate = template;
        WeaponDefinition = await CurrentlyEdittingRegimentTemplate.GetWeaponItemDefinitionAsync();
        AmmoDefinition = await CurrentlyEdittingRegimentTemplate.GetAmmoItemDefinitionAsync();
    }
}
